.social {
    text-decoration: none;
    margin: 0 10px;
}

.nome {
    font-size: 40px;
}

.profissao {
    font-size: 25px;
}

.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: #0D1B2A;
    min-height: 100vh;
    margin: 0 auto;
}

.principal {
    background-color: #FF6978;
    min-height: 100vh;
}

.icon {
    width: 30px;
    height: 30px;
}

.descricao {
    font-size: 18px;
}

.conteudo {
    font-family: 'Roboto', sans-serif;
    color: #fff;
}

.subtitulo {
    font-weight: bold;
}